* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #06191E;
    color: #FCE1C1;
}

a:hover {
    opacity: 0.7;
}

header {
    margin-bottom: 1.6vh;
    padding: 0;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #233040;
    border-bottom: 1px solid #AD9FEA;
    height: 10vh;
}

figure {
    border-radius: 50%;
    overflow: hidden;
    position: relative;
}

header figure {
    height: 8.5vh;
    width: 8.5vh;
}

figure img {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

header nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 10vh;
}

.nav-list {
    list-style: none;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
}

.nav-list > li {
    letter-spacing: 1000px;
    margin-left: 10px;
}

#avatar {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}

#avatar:not(.default) {
    border: 2px solid #AD9FEA;
}

.nav-list img:not(#avatar img) {
    height: 8.5vh;
    width: auto;
}

.label {
    display: block;
    width: 50%;
    margin: 0 auto;
    margin-left: 275px;
}

.nav-list input[type="text"] {
    border: 1px solid #AD9FEA;
    padding: 10px 40px 10px 10px;
    height: 3px;
    border-radius: 7px;
    width: 100%;
    background-color: #06191E;
    background-image: url('../imagens/Lupa.png');
    background-size: 15px;
    background-position: right 10px center;
    background-repeat: no-repeat;
    color: #FCE1C1;
}

.menu {
    flex-direction: column;
    justify-content: space-between;
    height: 20px;
    cursor: pointer;
}

.menu div {
    width: 32px;
    height: 2px;
    background: #AD9FEA;
    margin: 8px;
}

#dropdown {
    position: relative;
    display: inline-block;
    text-align: left;
}

#dropbtn {
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
}

#dropdown-content {
    display: none;
    background-color: #233040;
    box-shadow: 0px 2vh 4vh rgba(0, 0, 0, 0.2);
    z-index: 200;
    list-style-type: none;
    padding: 0;
    list-style: none;
    position: fixed;
    left: 0;
    top: 10vh;
    font-size: 3vh;
}

#dropdown-content li {
    border-bottom: 1px solid #AD9FEA;
    border-right: 1px solid #AD9FEA;
    padding: 3vh 4vh;
    letter-spacing: 0;
}

#dropdown-content a {
    color: #FCE1C1;
    text-decoration: none;
    display: block;
}

#dropdown:hover #dropdown-content {
    display: block;
}

nav.active {
    display: flex; 
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    background-color: #233040;
    padding: 1rem;
}

.nav-list.active {
    display: block;
}
