li {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.form-dimensao {
    width: 40%;
    height: 40%;
    margin: auto; /* Centraliza horizontalmente */
    display: flex; /* Flexbox para centralizar o conteúdo interno */
    flex-direction: column; /* Organiza os filhos verticalmente */
    justify-content: center; /* Centraliza verticalmente o conteúdo */
    border: 1px solid #ccc; /* Opcional: borda para visualização */
    padding: 20px; /* Opcional: espaçamento interno */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Opcional: sombra para destaque */
    border-radius: 8px; /* Opcional: cantos arredondados */
    background-color: #06191e;
    border: 2px solid #AD9FEA;
}

input {
    background-color: #233040;
    color: #fce1c1;
}

.form-control{
    background-color: #233040;
    border: none;
    color: #fce1c1;
} 

.form-label{
    color: #fce1c1;
}

h1{
    color: #fce1c1;
}

.form-select{
    background-color: #233040;
    color: #fce1c1;
}

#enviar{
    background-color: #AD9FEA;
    color: #233040;
    width: 50%;
    align-self: center;
}

#error, #erroServidor, #sucesso{
    display: none;
}

.form-control:focus {
background-color: #233040;
color: #fce1c1;
}

.spinner {
    width: 16px;
    height: 16px;
    border: 2px solid #ccc;
    border-top: 2px solid #000;
    border-radius: 50%;
    animation: spin 0.8s linear infinite;
    display: inline-block;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
/* Estilo para a resposta */
.resposta {
    display: none;
    margin-top: 20px;
    padding: 10px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    background-color: #AD9FEA; /* Cor de destaque (verde) */
    color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: opacity 0.3s ease-in-out; /* Transição suave */
}

/* Quando a resposta for visível */
.resposta.show {
    opacity: 1; /* Tornar visível com transição */
}

/* Estilos adicionais para a cor de fundo em caso de erro */
.resposta.erro {
    background-color: #FE6156; /* Cor de erro (vermelho) */
}
