li {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.form-dimensao {
    width: 40%;
    height: 40%;
    margin: auto; /* Centraliza horizontalmente */
    display: flex; /* Flexbox para centralizar o conteúdo interno */
    flex-direction: column; /* Organiza os filhos verticalmente */
    justify-content: center; /* Centraliza verticalmente o conteúdo */
    border: 1px solid #ccc; /* Opcional: borda para visualização */
    padding: 20px; /* Opcional: espaçamento interno */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Opcional: sombra para destaque */
    border-radius: 8px; /* Opcional: cantos arredondados */
    background-color: #06191e;
    border: 2px solid #AD9FEA;
}

input {
    background-color: #233040;
    color: #fce1c1;
}

.form-control{
    background-color: #233040;
    border: none;
    color: #fce1c1;
} 

.form-label{
    color: #fce1c1;
}

h1{
    color: #fce1c1;
}

.form-select{
    background-color: #233040;
    color: #fce1c1;
}

#enviar{
    background-color: #AD9FEA;
    color: #233040;
    width: 50%;
    align-self: center;
}

#error, #erroServidor, #sucesso{
    display: none;
}

.form-control:focus {
background-color: #233040;
color: #fce1c1;
}