html, body, * {
    margin: 0;
    padding: 0;
}

body {
    background-color: #233040;
    overflow: hidden;
    color: #FE6156;
}

main {
    display: flex;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#frown {
    height: 37.6vh;
}

h1 {
    font-size: 7.8vh;
}

h2 {
    font-size: 5.4vh;
}

p {
    font-size: 4.9vh;
}