body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    min-height: 100%;
    background-color: #06191e;
}

.card {
    display: flex;
    align-items: left;
    justify-content: center;
    flex-direction: column;
    background-color: #233040;
    border: 2px solid #ad9fea;
    color: #fce1c1;
    margin: 10px;
    border-radius: 8px;
    height: 100%;
}

.desc {
    text-align: center;
    line-height: 1.5;
}

.confirmacao-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    transition: opacity 0.3s ease-in-out;
}

.confirmacao-container {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    transform: scale(1);
    transition: transform 0.3s ease-in-out;
}

.confirmacao-container button {
    margin: 10px;
    padding: 10px 20px;
    border-radius: 4px;
    background-color: #ad9fea;
    color: #233040;
    border: none;
    cursor: pointer;
}

.confirmacao-container button:hover {
    background-color: #06191e;
}

#novo {
    color: #fce1c1;
    background-color: #06191e;
}

#filtroEstado {
    appearance: none;
    padding: 8px;
    font-size: 14px;
    outline: none;
    cursor: pointer;
}
#confirma{
    display: none;
}
#divisoes{
    display: none;
}

.form-select {
    background-color: #233040;
    color: #fce1c1; 
    margin-bottom: 5%;
}

button {
    border-radius: 8px;
    margin-left: 2%;
    background-color: #ad9fea;
}

.btn-danger {
    background-color: #FE6156;
    color: #233040;
    border: none;
}

.btn-danger:hover {
    background-color: #FE6156;
    color: #233040;
}

h1 {
    font-size: 25px;
}

h2 {
    font-size: 18px;
}

h3 {
    font-size: 15px;
}
