/* Caixa de busca */
.container-busca {
    display: flex;
    justify-content: center;
}

.container-busca input, .container-busca select {
    margin: 7% 1% 0 1%;
    border-radius: 10px;
    border: none;
    padding: 0.5%;
    outline: none;
    font-size: 1rem;
    color: #ad9fea;
    background-color: #233040;
}

.container-busca input[type=text]{
    width: 70%;
    border-radius: 50px;
}

.container-busca input {
    background-image: url("../imagens/Lupa.png");
    background-position: 10px center;
    background-repeat: no-repeat;
    background-size: 3vh 3vh;
    padding-left: 35px;
}

.container-busca input::placeholder {
    color: #ad9fea;
}

.container-busca, .lista-itens{
    margin: 0 10% 20px 10%;
}


/* Lista de Itens */
.lista-itens {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 2%;
    margin-bottom: 2%;
}

.item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    background-color: #233040;
    border-radius: 15px;
    padding: 0.5%;
    color: #FCE1C1;
    font-weight: bold;
    font-size: 0.9rem;
    border: 1.5px solid #ad9fea;
}

.item button {
    background-color: #ad9fea;
    color: #233040;
    border: none;
    border-radius: 15px;
    padding: 1%;
    cursor: pointer;
    font-weight: bold;
    font-size: 1rem;
}

.item p{
    font-family: "Oswald", sans-serif;
    font-size: 20px;
    flex: 1;
}

/* Pop-Up */
.popup {
    position: fixed;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #233040;
    padding: 20px;
    border-radius: 20px;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: auto;
    border: 1.5px solid #ad9fea;
    color: white;
    overflow-y: auto;
    width: 90%;
    max-width: 640px;
    max-height: 90vh;
    gap: 20px;
    margin: 0 auto;
}

.popup-content{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
}

.popup h2 {
    text-align: center;
    font-size: 2em;
    color: #FCE1C1;
    font-family: "Oswald", sans-serif;
}

.popup .popup-content h1{
    font-size: 1em;
    font-family: "Host Grotesk", sans-serif, bold;
    padding: 1%;
}

.popup .popup-buttons button {
    color: #233040;
    border: none;
    border-radius: 15px;
    padding: 10px 20px;
    cursor: pointer;
    font-weight: bold;
    margin: 10px;
}

.button-confirmar{
    background-color: #ad9fea;
}

.button-cancelar{
    background-color: #FE6156;
}

.popup-date{
    background-color: #233040;
    border: none;
    margin: 20px;
    display: flex;
    align-content: space-between;
    gap: 10px;
    flex-wrap: wrap;
}

.popup-date div{
    flex: 1;
}

/* Nenhum recursos */
.nenhum-recurso{
    display: flex;
    justify-content: center;
}

.nenhum-recurso h2{
    font-size: 40px;
    font-family: "Oswald", sans-serif;
    margin-top: 2%;
}

/* Overlay */
.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #233040;
    z-index: 999;
}

@media screen and (max-width: 700px) {
    .popup-date {
        flex-direction: column;
        gap: 10px;
    }

    .popup {
        max-width: 55%;
    }
}


