<header>
    <nav>
        <ul class="nav-list">
            <li><a href="/"><img th:src="@{static/imagens/Menu.png}" alt="menu" class="menu"></a></li>
            <li><a href="/"><img th:src="@{/static/imagens/Logo.png}" alt="logo"></a></li>
            <li>
                <label for="pesquisa"> 
                    <input type="text" id="barrapesquisa"> 
                </label> 
                <a href="/" class="background"></a>
            </li>
            <li><a href="/"><img th:src="@{static/imagens/Avatar.png}" alt="avatar" id="avatar"></a></li>
        </ul>
    </nav>
</header>
