<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/estilos/complaint.css}">
    <link rel="stylesheet" th:href="@{/estilos/cabecalho.css}">
    <link rel="shortcut icon" th:href="@{/imagens/favicon.ico}" type="image/x-icon">
    <title>Reclamações</title>
</head>

<body>
    <header th:replace="~{frag/cabecalho}"></header>

    <main th:fragment="cmps" id="cmps">
        <div th:each="c : ${complaints}" th:with="r=${c.reserva}, re=${r.recurso}, u=${r.professor}, as=${c.respostas}">
            <div class="cmp">
                <figure class="perfil">
                    <img th:src="${u.foto}" th:alt="${'Foto de ' + u.nome}">
                </figure>
                <p th:text="${u.nome}">Nome</p>
                <p>Recurso: <span th:text="${re.descricao}">Descrição</span></p>
                <p th:text="${c.comentario}">Reclamação</p>
                <p th:text="${#dates.format(c.data, 'dd/MM/yy HH:mm')}">Data</p>
            </div>
            
            <form th:if="${tae}" th:data-ri="${r.id}" class="form">
                <textarea name="comentario" class="com" maxlength="255"></textarea>
                <button type="submit">Responder</button>
            </form>

            <div class="ans" th:each="a : ${as}" th:with="u=${a.usuario}">
                <figure class="perfil">
                    <img th:src="${u.foto}" th:alt="${'Foto de ' + u.nome}">
                </figure>
                <p th:text="${u.nome}">Nome</p>
                <p th:text="${a.comentario}">Resposta</p>
                <p th:text="${#dates.format(a.data, 'dd/MM/yy HH:mm')}">Data</p>
            </div>
        </div>
    </main>

    <script th:src="@{/script/ans.js}"></script>
</body>
</html>
