<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" th:href="@{/estilos/cabecalho.css}">
        <link rel="shortcut icon" th:href="@{/imagens/favicon.ico}" type="image/x-icon">
        <title>Registrar Reclamação</title>
    </head>
    <body>
        <header th:replace="~{frag/cabecalho}"></header>
        
        <div>
            <h2>Registrar Reclamação sobre a seguinte reserva:</h2>
            <h3 th:text="${'Empréstimo de :'} + ${reservaRecursoDesc}"></h3>
            <p th:text="${'Origem: '} + ${reservaRecursoDepartamento}"></p>
            <p th:text="${'Horário: '} + ${reservaInicio} + ${' às '} + ${reservaFim}"></p>
            <p th:text="${'Status da reserva: '} + ${reservaStatus}"></p>
        </div>
        <div>
            <label for="com">Descreva sua reclamação.</label>
            <textarea name="comentario" id="com" class="com" maxlength="255"></textarea>
            <button>Registrar reclamação.</button>
        </div>
        <script src="/script/reportProblem.js"></script>
    </body>
</html>