<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/estilos/resposta.css">
    <title>Resposta</title>
</head>

<body>
    <div id="cabecalho"></div>

    <main>

        <h1>Registre sua resposta</h1>

        <div class="campo">
            <div class="box">
                <div class="textfield">
                    <input type="text" id="id" name="id" placeholder="ID da reclamação:" required>
                </div>

                <div class="textfield">
                    <textarea name="resposta" id="resposta" placeholder="Escreva sua resposta aqui" required></textarea>
                </div>
    
            <button id="enviar">Enviar</button>
            </div>
        </div>
    </main>
</body>

<script>
    fetch('cabecalho.html')
    .then(response => response.text())
    .then(data => document.getElementById('cabecalho').innerHTML = data);
</script>

</html>
