<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/estilos/req.css}">
    <link rel="stylesheet" th:href="@{/estilos/cabecalho.css}">
    <link rel="shortcut icon" th:href="@{/imagens/favicon.ico}" type="image/x-icon">
    <title>Solicitacoes</title>
</head>

<body>
    <header th:replace="~{frag/cabecalho}"></header>
    
    <section id="ghost">
        <div class="greq" th:each="i : ${#numbers.sequence(1, 12)}">
            <div class="gimg" th:unless="${mine}"></div>
            <div class="grow" th:unless="${mine}"></div>
            <div class="grow"></div>
            <div class="grow dt"></div>
            <div class="grow dt"></div>
            <div class="grow stat" th:unless="${i == 1 || i == 6 || i == 8 || i == 10}"></div>
            <div class="gbtn" th:if="${i == 1 || i == 6 || i == 8 || i == 10}">
                <div class="gbrow"></div>
                <div class="gbrow" th:unless="${mine}"></div>
            </div>
        </div>
    </section>

    <main id="reqs" th:class="${mine ? 'mine' : ''}"></main>

    <nav id="pages" th:data-number="${pages}"></nav>

    <script th:src="@{/script/req.js}"></script>
</body>