<header id="cabecalho">
    <nav>
        <ul class="nav-list">
            <li><a href="/"><img th:src="@{/imagens/Menu.png}" alt="menu" class="menu"></a></li>
            <li><a href="/"><img th:src="@{/imagens/Logo.png}" alt="logo"></a></li>
            <li>
                <label class="label" for="pesquisa">
                    <input type="text" id="barrapesquisa"> 
                </label> 
                <a href="/" class="background"></a>
            </li>
            <li><a href="/"><figure id="avatar">
                <img th:src="@{/imagens/Avatar.png}" alt="avatar">
            </figure></a></li>
        </ul>
    </nav>
</header>